@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}

body {
  background: #fff;
  width: 100vw;
  height: 100vh;
}

.header {
  position: relative;
  height: 70px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.logo {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.search {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search input {
  width: 360px;
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  background: #eef5f6;
  outline: none;
}

.date {
  position: absolute;
  right: 160px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #000000;
}

.btn {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  padding: 12px 18px;
  background: #b1ced4;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.menu-container {
  width: 1100px;
  margin: 42px 0 0 140px;
}

.menu-card {
  display: inline-block;
  width: 203px;
  margin: 10px;
  vertical-align: top;
  background: #d8e6e9;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.img-1 {
  background-image: url("./assets/img.png");
}
.img-2 {
  background-image: url("./assets/39fb7e2b77d6d9ebefe243c53ab88cb7bc9a58fe.jpg");
}
.img-3 {
  background-image: url("./assets/0b83ad637a5f70716da0e5cd04b13ad79a8b7a0a.jpg");
}
.img-4 {
  background-image: url("./assets/5fd2f574f2c0832d29a724644b25eb52bf445f9e.jpg");
}
.img-5 {
  background-image: url("./assets/66d0b2599f8c685322f042b4bea2a5c60faca896.jpg");
}
.img-6 {
  background-image: url("./assets/72de958e186086c02aa5c25ea0e365580249b361.jpg");
}

.card-body {
  padding: 15px;
}

.card-body h4 {
  text-align: center;
}

.category {
  font-size: 12px;
  padding: 5px;
}

.category-text {
  margin-left: 10px;
}

.badge {
  display: inline-block;
  background: #d89f65;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 50px;
}

.badge-2 {
  display: inline-block;
  background: #d89f65;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 90px;
}

.badge-3 {
  display: inline-block;
  background: #d89f65;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 70px;
}

.badge-4 {
  display: inline-block;
  background: #fff;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 60px;
}

.tabs {
  position: absolute;
  bottom: 20%;
  left: 30.5%;
  transform: translateX(-50%);
  background: #eaf0f0;
  padding: 35px 20px;
  border-radius: 4px;
  width: 949px;
  height: 106px;
}

.tab {
  display: inline-block;
  padding: 14px 25px;
  margin: 0 50px;
  background: #d9d9d9;
  border-radius: 8px;
  font-size: 12px;
  color: #a9a9a9;
}

.tab.active {
  background: #4a5c2f;
  color: #fff;
}
